<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @song.name %>
</p>

<p>
  <b>Content:</b>
  <%= @song.content %>
</p>

<p>
  <b>Tag:</b>
  <%= @song.tag %>
</p>

<p>
  <b>Project:</b>
  <%= @song.project %>
</p>


<%= link_to 'Edit', edit_project_song_path(@song.project, @song) %> |
<%= link_to 'Back', project_songs_path(@song.project) %>

<hr>